@font-face {
    font-family: star;
    src: url(../font/star.eot);
    src: url(../font/stard41d.eot?#iefix) format("embedded-opentype"),url(../font/star.woff) format("woff"),url(../font/star.ttf) format("truetype"),url(../font/star.svg#star) format("svg");
    font-weight: 400;
    font-style: normal;
}